<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jay.accounting.persistence.AccountMapper">

    <resultMap id="accountMap" type="Account">
        <id property="id" column="account_id" />
        <result property="name" column="account_name" />
        <result property="desc" column="description" />
        <result property="balance" column="balance" />
        <result property="owner" column="owner" />
        <result property="accountType" column="account_type" />
        <result property="subType" column="sub_type" />
        <result property="category" column="category" />
        <result property="accountState" column="account_state" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <insert id="insertAccount" parameterType="Account">
        insert into tb_account
        (account_name, description, balance, owner,
        account_type, sub_type, category, account_state, create_time, update_time)
        values
        (#{name}, #{desc, jdbcType=VARCHAR}, #{balance}, #{owner},
        #{accountType}, #{subType}, #{category, jdbcType=VARCHAR}, #{accountState}, now(), now())
    </insert>

    <select id="getAccount" parameterType="string" resultMap="accountMap">
        select * from tb_account where account_id = #{accountId}
    </select>

    <select id="getAccountsBy" parameterType="string" resultMap="accountMap">
        select * from tb_account where 1=1
        <if test="type != null">
            and account_type = #{type}
        </if>
        <if test="state != null">
            and account_state = #{state}
        </if>
        order by account_type, sub_type, account_name
    </select>

    <update id="updateAccount" parameterType="Account">
        update tb_account set balance = #{balance}, account_state = #{accountState}
        where account_id = #{id}
    </update>

</mapper>